<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<!-- Head tag -->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    <!-- Page Header -->
    <%- partial('_partial/header') %>

    <!-- Main Content -->
    <div id="pjax">
    <script>
        document.getElementById("title1").innerHTML="<%= page.title || config.title %>";
        document.getElementById("title2").innerHTML="<%= page.description || config.subtitle || "" %>";
    </script>
    <%- body %>
    </div>

    <!-- Footer -->
    <%- partial('_partial/footer') %>
</body>

</html>
